* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    height: 100%;
     font-family: rubik;
    background: rgb(149,0,254);
background: linear-gradient(0deg, rgba(149,0,254,1) 0%, rgba(121,9,113,1) 50%, rgba(0,0,0,1) 100%) !important;
}


nav {
    background-color: #333;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:active,
a:hover {
    background: #444;
    transition: 0.3s;

}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;


    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }


    

    ul {

        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #303030;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: all 0.3s;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a:active {
        background: none;
        color: #444;
    }

    #check:checked~ul {
        left: 0;
    }

    .container{
        display: flex;
    }
}

